@import url("https://fonts.googleapis.com/css2?family=Inspiration&family=Lato:wght@100;300;400;700;900&display=swap");

@import url("https://fonts.googleapis.com/css2?family=Indie+Flower&family=Inspiration&display=swap");

*,
::before,
::after {
  padding: 0;
  margin: 0;
}

html {
  font-size: 62.5%;
  box-sizing: border-box;

  font-family: "Lato", sans-serif;
}

#navbar {
  width: 100vw;
  height: 7rem;
  background-color: #eee;
  box-shadow: 0 0.6rem 1.2rem 0rem rgba(0, 0, 0, 0.1);

  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-end;
}

#navbar ul {
  display: flex;
  flex-direction: row;
  gap: 2rem;
  justify-content: end;

  margin-top: 0;
  padding-right: 3rem;
  list-style: none;
}

.nav-link:link,
.nav-link:visited {
  font-size: 2rem;
  font-weight: 700;
  color: #fff;
  background-color: #048bc2;
  text-decoration: none;
  padding: 1rem 1.2rem;

  border: 2px solid #999;
  border-radius: 9px;
  transition: all 0.3s;
}

.nav-link:hover,
.nav-link:active {
  background-color: #fff;
  color: #999;
  border: 2px solid #048bc2;
}

body *:focus {
  outline: none;
  box-shadow: 0 0 0 0.6rem rgba(175, 164, 150, 0.5);
  /* color: rgb(175, 164, 150); */
}

.sticky {
  position: fixed;
  top: 0;
  left: 0;
  z-index: 9999;
}

/*----------------------------------- Welcome Section */
#welcome-section {
  height: 100vh;
  margin-top: 7rem;
  background-color: #048bc2;

  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.welcome-section {
  display: flex;
  flex-direction: column;
  row-gap: 0.5rem;
  align-items: center;

  font-family: "Indie Flower", cursive;
}

h1 {
  font-size: 9.8rem;
  color: #fff;
}

.welcome-section span {
  font-size: 6.2rem;
  color: #999;
}

/*----------------------------------- Projects Section */

#projects {
  /* height: 100vh; */
  background-color: #cde8f3;
  padding: 9.6rem 3.2rem;

  display: flex;
  flex-direction: column;
  align-items: center;
  justify-items: center;
}

#projects h2 {
  font-size: 4.4rem;
  color: #777;
  text-align: center;
  padding: 7.4rem 0;
}

.project-tiles {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 8rem 5rem;
  align-items: center;
  justify-items: center;

  padding-left: 5rem;
  padding-right: 5rem;
}

.project-tile {
  max-width: 50rem;
  height: 35rem;
  background-color: #e6f3f9;

  display: flex;
  flex-direction: column;
  gap: 3.2rem;
  align-items: center;
  justify-content: center;
  padding: 0 2.4rem;

  border: 1px solid #e6f3f9;
  border-radius: 11px;
  box-shadow: 0 1rem 2rem 0 rgba(0, 0, 0, 0.3);

  transition: all 0.4s;
}

.project-tile:hover {
  /* transform: translateY(-1.2rem); */
  box-shadow: 0 2rem 3rem 0 rgba(0, 0, 0, 0.3);
}

.project-img {
  max-width: 40rem;
  overflow: hidden;
}

.project-tile img {
  /* max-width: 40rem; */
  /* width: 50rem; */
  width: 100%;
  /* height: 62%; */

  /* object-fit: contain; */
  object-fit: cover;
  object-position: center;
  /* object-position: left; */
  border-radius: 9px;

  transition: all 0.4s;
}

.project-tile img:hover {
  transform: scale(1.1);
}

.project-tile h3 {
  font-size: 3rem;
}

.project-tile h3 a {
  text-decoration: none;
  color: #555;
}

.project-tile h3 a:link,
.project-tile h3 a:visited {
  color: #555;
  transition: all 0.3s;
}

.project-tile h3 a:hover,
.project-tile h3 a:active {
  color: #999;
}

/*----------------------------------- Contact Section */

#contact-section {
  height: 100vh;
  background-color: #048bc2;
  /* padding-top: 7rem; */

  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.contact {
  display: flex;
  flex-direction: column;
  gap: 5rem;
  justify-content: center;
  align-items: center;

  padding: 7rem;
  /* background: linear-gradient(135deg, #fbecda, #fefbf7); */
  /* border-radius: 9px; */
  /* box-shadow: 0 1rem 2rem 0 rgba(0, 0, 0, 0.1); */
}

.contact h2 {
  font-size: 8.6rem;
  color: #fff;
  letter-spacing: 3px;
}

.contact p {
  font-size: 2rem;
  color: #fff;
}

.contact ul {
  display: flex;
  flex-direction: row;
  column-gap: 4rem;

  list-style: none;
}

/* .contact ul li {
  box-shadow: 0 1rem 2rem 0 rgba(0, 0, 0, 0.05);
  padding: 1rem;
} */

.contact ul li a {
  font-size: 1.8rem;
  /* color: #fff; */
  text-decoration: none;

  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 0.8rem;

  letter-spacing: 1px;
}

.contact ul li a:link,
.contact ul li a:visited {
  color: #333;
}

.contact ul li a:hover,
.contact ul li a:active {
  color: #999;
  /* font-weight: 700; */
}

.social-links li a span {
  font-size: 1.2rem;
}

.fab,
.fas {
  font-size: 5rem;
  color: #999;
  /* background-color: #eee;
  box-shadow: 0 1rem 2rem 0 rgba(0, 0, 0, 0.1);
  border-radius: 50%;
  padding: 1.2rem; */

  transition: all 0.4s;
}

.fas:link,
.fas:visited {
  color: #777;
  transition: all 0.5s;
}

.fas:hover,
.fas:active {
  color: #333;
  transform: translateY(-0.8rem);
}

.fab:link,
.fab:visited {
  color: #777;
}

.fab:hover,
.fab:active {
  color: #333;
  transform: translateY(-0.8rem);
}

address {
  font-style: normal;
}

/*----------------------------------- Contact Section */
#footer-section {
  height: 40vh;
  background-color: #eee;
  padding: 5rem;

  display: grid;
  grid-template-columns: repeat(3, 1fr);
  justify-items: center;
  /* align-items: center; */
}

.footer-logo,
.footer-last-col {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.f-welcome-section {
  display: flex;
  flex-direction: column;

  justify-content: center;
  align-items: center;
}

.f-welcome-section h3 {
  font-size: 3rem;
  color: #333;
}

.f-welcome-section span {
  font-size: 1.8rem;
  color: #777;
}

.footer h4 {
  font-size: 2.4rem;
  color: #333;
}

.footer-links {
  display: flex;
  flex-direction: row;
  gap: 8rem;
  justify-content: center;
  align-items: flex-start;

  margin-top: auto;
  margin-bottom: auto;
}

.footer-contact {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  /* align-items: center; */
  gap: 1rem;
}

.f-social-links {
  list-style: none;

  display: flex;
  flex-direction: column;
  row-gap: 0.5rem;
  justify-content: center;
  /* align-items: flex-start; */
}

.f-social-links li a {
  text-decoration: none;
  /* color: #999; */
  font-size: 1.8rem;
  font-weight: 700;
}

.f-social-links li a:link,
.f-social-links li a:visited {
  color: #999;
  transition: all 0.3s;
}

.f-social-links li a:hover,
.f-social-links li a:active {
  color: #333;
}

.f-social-links .fab,
.f-social-links .fas {
  font-size: 2rem;
}

.f-social-links a i {
  display: none;
}

.footer-nav {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  /* align-items: center; */
  gap: 1rem;
}

.footer-nav ul {
  list-style: none;

  display: flex;
  flex-direction: column;
  row-gap: 0.5rem;
}

.footer-nav .nav-link {
  border: none;
  font-size: 1.8rem;
  font-weight: 700;
  color: #999;
  padding: 0;
}

.footer-nav .nav-link:link,
.footer-nav .nav-link:visited {
  color: #999;
  background-color: #eee;
  transition: all 0.3s;
}

.footer-nav .nav-link:hover,
.footer-nav .nav-link:active {
  color: #333;
}

.footer-projects {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  /* align-items: center; */
  gap: 1rem;
}

.footer-projects ul {
  list-style: none;

  display: flex;
  flex-direction: column;
  row-gap: 0.5rem;
}

.footer-projects ul a {
  text-decoration: none;
  font-size: 1.8rem;
  font-weight: 700;
  color: #999;
}

.footer-projects ul a:link,
.footer-projects ul a:visited {
  color: #999;
  transition: all 0.3s;
}

.footer-projects ul a:hover,
.footer-projects ul a:active {
  color: #333;
}

/* 1792px */
@media only screen and (max-width: 112em) {
  .project-tiles {
    gap: 6rem 4rem;
  }

  #footer-section {
    height: 30vh;
  }
}

/* 1568px */
@media only screen and (max-width: 98em) {
  .project-tiles {
    padding-left: 3.2rem;
    padding-right: 3.2rem;
  }

  .project-tile {
    height: 32rem;
    gap: 2.4rem;
  }
}

/* 1376 */
@media only screen and (max-width: 86em) {
  #projects {
    padding-left: 2.4rem;
    padding-right: 2.4rem;
  }
  .project-tiles {
    padding-left: 2.4rem;
    padding-right: 2.4rem;
  }

  .project-tile {
    height: 28rem;
  }

  #footer-section {
    height: 25vh;
  }
}

/* 1184px = 74em */
@media only screen and (max-width: 74em) {
  .project-tile {
    height: 24rem;
    padding-left: 1.6rem;
    padding-right: 1.6rem;
  }
}

/* 1040px = 65em */
@media only screen and (max-width: 65em) {
  h1 {
    font-size: 6.2rem;
  }

  .welcome-section span {
    font-size: 3.2rem;
  }

  #projects {
    padding-left: 1.6rem;
    padding-right: 1.6rem;
  }

  #projects h2 {
    font-size: 3.6rem;
  }
  .project-tiles {
    grid-template-columns: repeat(2, 1fr);
  }

  .project-tile {
    height: 32rem;
  }

  .project-tile h3 {
    font-size: 2.4rem;
  }

  .contact h2 {
    font-size: 6.2rem;
    color: #777;
    letter-spacing: 2px;
  }

  .contact p {
    font-size: 1.6rem;
  }

  .contact ul {
    column-gap: 3rem;
  }

  .fab,
  .fas {
    font-size: 3.2rem;
  }

  #footer-section {
    grid-template-columns: 1fr;
    height: 65vh;
  }
}

/* 752px = 47em */
@media only screen and (max-width: 47em) {
  h1 {
    font-size: 5.2rem;
  }
  .project-tiles {
    grid-template-columns: 1fr;
  }

  .project-tile {
    height: 39rem;
  }

  .contact h2 {
    font-size: 5.2rem;
    letter-spacing: 1px;
  }

  .contact p {
    font-size: 1.2rem;
  }

  .contact ul {
    column-gap: 2rem;
  }

  .fab,
  .fas {
    font-size: 2.4rem;
  }
}

/* 640px = 40em */
@media only screen and (max-width: 47em) {
  #navbar {
    align-items: center;
  }

  #navbar ul {
    padding-right: 0;
  }

  .nav-link {
    font-size: 1.6rem;
  }
  h1 {
    font-size: 4.4rem;
  }

  .welcome-section span {
    font-size: 2.4rem;
  }

  #projects h2 {
    font-size: 3rem;
    text-align: center;
  }

  .contact {
    gap: 4rem;
  }
  .contact h2 {
    text-align: center;
    font-size: 4.4rem;
  }

  .contact p {
    text-align: center;
    padding-left: 6rem;
    padding-right: 6rem;
  }

  .contact ul {
    column-gap: 1.6rem;
  }

  #footer-section {
    /* height: 40vh; */
    height: 63vh;
  }

  .f-welcome-section h3 {
    font-size: 2.4rem;
  }

  .footer h4 {
    font-size: 2rem;
  }

  .f-social-links li a,
  .footer-nav .nav-link,
  .footer-projects ul a {
    font-size: 1.4rem;
  }
  .footer-links {
    gap: 6rem;
  }
}

/* 432px = 27em*/
@media only screen and (max-width: 27em) {
  #navbar ul {
    gap: 1.6rem;
  }

  .nav-link {
    font-size: 1.6rem;
  }
  h1 {
    text-align: center;
    font-size: 3.6rem;
  }

  .welcome-section span {
    font-size: 2rem;
  }
  .contact {
    gap: 3rem;
  }

  .contact h2 {
    font-size: 3.6rem;
  }
  .contact p {
    padding-left: 3rem;
    padding-right: 3rem;
  }
  .social-links li a span {
    display: none;
  }
  #footer-section {
    padding: 0;
    height: 50vh;
  }

  .footer-links {
    gap: 4rem;
  }
}

/*320px = 20em*/
@media only screen and (max-width: 20em) {
  #projects {
    padding-top: 1.6rem;
    padding-left: 0.8rem;
    padding-right: 0.8rem;
  }

  #projects h2 {
    font-size: 2.4rem;
    padding-bottom: 3.6rem;
  }
  .contact h2 {
    font-size: 3.2rem;
  }

  .project-tile {
    height: 35rem;
    padding-left: 0.8rem;
    padding-right: 0.8rem;
  }

  .project-tile h3 {
    font-size: 2rem;
  }

  .contact {
    padding: 4rem;
  }

  .contact p {
    padding-left: 1.2rem;
    padding-right: 1.2rem;
  }

  .fab,
  .fas {
    font-size: 2rem;
  }

  #footer-section {
    height: 65vh;
  }

  .footer-links {
    gap: 2.4rem;
  }
}
