*,
::before,
::after {
  padding: 0;
  margin: 0;
}

html {
  font-size: 62.5%;
  box-sizing: border-box;
}

#navbar {
  width: 100vw;
  height: 7rem;
  background-color: #eee;

  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-end;
}

#navbar ul {
  display: flex;
  flex-direction: row;
  gap: 2rem;
  justify-content: end;

  margin-top: 0;
  padding-right: 3rem;
  list-style: none;
}

.nav-link {
  font-size: 2rem;
  font-weight: 700;
  color: #777;
  text-decoration: none;
  padding: 1rem;

  border: 2px solid #fff;
  border-radius: 9px;
}

.sticky {
  position: fixed;
  top: 0;
  left: 0;
}

/*----------------------------------- Welcome Section */
#welcome-section {
  height: 100vh;
  margin-top: 7rem;
  background-color: #faead6;

  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.welcome-section {
  display: flex;
  flex-direction: column;
  row-gap: 0.5rem;
  align-items: center;
}

.welcome-section span {
  font-size: 3.6rem;
  color: #333;
}

h1 {
  font-size: 7.4rem;
  color: #777;
}

/*----------------------------------- Projects Section */

#projects {
  /* height: 100vh; */
  background-color: #eee;
  padding: 9.6rem 3.2rem;

  display: flex;
  flex-direction: column;
  align-items: center;
  justify-items: center;
}

#projects h2 {
  font-size: 4.4rem;
  color: #777;
  text-align: center;
  padding: 7.4rem 0;
}

.project-tiles {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 8rem 5rem;
  align-items: center;
  justify-items: center;

  padding-left: 5rem;
  padding-right: 5rem;
}

.project-tile {
  max-width: 50rem;
  /* width: 90%; */
  height: 35rem;
  background-color: #eee;

  display: flex;
  flex-direction: column;
  gap: 3.2rem;
  align-items: center;
  justify-content: center;
  padding: 0 2.4rem;

  border: 3px solid #eee;
  border-radius: 11px;
  box-shadow: 0 1rem 2rem 0 rgba(0, 0, 0, 0.3);
}

.project-img {
  padding: 0 3rem;
}

.project-tile img {
  /* max-width: 40rem; */
  /* width: 50rem; */
  width: 100%;
  height: 62%;

  /* object-fit: contain; */
  object-fit: cover;
  border-radius: 9px;
}

.project-tile h3 {
  font-size: 3rem;
}

.project-tile h3 a {
  text-decoration: none;
  color: #555;
}

/*----------------------------------- Contact Section */

#contact-section {
  height: 100vh;
  background-color: #faead6;
  /* padding-top: 7rem; */

  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.contact {
  display: flex;
  flex-direction: column;
  gap: 5rem;
  justify-content: center;
  align-items: center;

  padding: 7rem;
  /* background: linear-gradient(135deg, #fbecda, #fefbf7); */
  /* border-radius: 9px; */
  /* box-shadow: 0 1rem 2rem 0 rgba(0, 0, 0, 0.1); */
}

.contact h2 {
  font-size: 7.4rem;
  color: #777;
  letter-spacing: 3px;
}

.contact p {
  font-size: 1.8rem;
  color: #333;
}

.contact ul {
  display: flex;
  flex-direction: row;
  column-gap: 4rem;

  list-style: none;
}

/* .contact ul li {
  box-shadow: 0 1rem 2rem 0 rgba(0, 0, 0, 0.05);
  padding: 1rem;
} */

.contact ul li a {
  font-size: 1.8rem;
  color: #333;
  text-decoration: none;

  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 0.8rem;

  letter-spacing: 1px;
}

.social-links li a span {
  font-size: 1.2rem;
}

.fab,
.fas {
  font-size: 5rem;
  color: #777;
  /* background-color: #eee;
  box-shadow: 0 1rem 2rem 0 rgba(0, 0, 0, 0.1);
  border-radius: 50%;
  padding: 1.2rem; */
}

address {
  font-style: normal;
}

/*----------------------------------- Contact Section */
#footer-section {
  height: 40vh;
  background-color: #eee;
  padding: 5rem;

  display: grid;
  grid-template-columns: repeat(3, 1fr);
  justify-items: center;
  /* align-items: center; */
}

.footer-logo,
.footer-last-col {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.f-welcome-section {
  display: flex;
  flex-direction: column;

  justify-content: center;
  align-items: center;
}

.f-welcome-section h3 {
  font-size: 3rem;
  color: #333;
}

.f-welcome-section span {
  font-size: 1.8rem;
  color: #777;
}

.footer h4 {
  font-size: 2.4rem;
  color: #333;
}

.footer-links {
  display: flex;
  flex-direction: row;
  gap: 8rem;
  justify-content: center;
  align-items: flex-start;

  margin-top: auto;
  margin-bottom: auto;
}

.footer-contact {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  /* align-items: center; */
  gap: 1rem;
}

.f-social-links {
  list-style: none;

  display: flex;
  flex-direction: column;
  row-gap: 0.5rem;
  justify-content: center;
  /* align-items: flex-start; */
}

.f-social-links li a {
  text-decoration: none;
  color: #999;
  font-size: 1.8rem;
  font-weight: 700;
}

.f-social-links .fab,
.f-social-links .fas {
  font-size: 2rem;
}

.f-social-links a i {
  display: none;
}

.footer-nav {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  /* align-items: center; */
  gap: 1rem;
}

.footer-nav ul {
  list-style: none;

  display: flex;
  flex-direction: column;
  row-gap: 0.5rem;
}

.footer-nav .nav-link {
  border: none;
  font-size: 1.8rem;
  font-weight: 700;
  color: #999;
  padding: 0;
}

.footer-projects {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  /* align-items: center; */
  gap: 1rem;
}

.footer-projects ul {
  list-style: none;

  display: flex;
  flex-direction: column;
  row-gap: 0.5rem;
}

.footer-projects ul a {
  text-decoration: none;
  font-size: 1.8rem;
  font-weight: 700;
  color: #999;
}

/* 1792px */
@media only screen and (max-width: 112em) {
  .project-tiles {
    gap: 6rem 4rem;
  }

  #footer-section {
    height: 30vh;
  }
}

/* 1568px */
@media only screen and (max-width: 98em) {
  .project-tiles {
    padding-left: 3.2rem;
    padding-right: 3.2rem;
  }

  .project-tile {
    height: 32rem;
    gap: 2.4rem;
  }
}

/* 1376 */
@media only screen and (max-width: 86em) {
  #projects {
    padding-left: 2.4rem;
    padding-right: 2.4rem;
  }
  .project-tiles {
    padding-left: 2.4rem;
    padding-right: 2.4rem;
  }

  .project-tile {
    height: 28rem;
  }

  #footer-section {
    height: 25vh;
  }
}

/* 1184px = 74em */
@media only screen and (max-width: 74em) {
  .project-tile {
    height: 24rem;
    padding-left: 1.6rem;
    padding-right: 1.6rem;
  }
}

/* 1040px = 65em */
@media only screen and (max-width: 65em) {
  h1 {
    font-size: 6.2rem;
  }

  .welcome-section span {
    font-size: 3.2rem;
  }

  #projects {
    padding-left: 1.6rem;
    padding-right: 1.6rem;
  }

  #projects h2 {
    font-size: 3.6rem;
  }
  .project-tiles {
    grid-template-columns: repeat(2, 1fr);
  }

  .project-tile {
    height: 32rem;
  }

  .project-tile h3 {
    font-size: 2.4rem;
  }

  .contact h2 {
    font-size: 6.2rem;
    color: #777;
    letter-spacing: 2px;
  }

  .contact p {
    font-size: 1.6rem;
  }

  .fab,
  .fas {
    font-size: 3.2rem;
  }

  #footer-section {
    grid-template-columns: 1fr;
    height: 30vh;
  }
}

/* 752px = 47em */
@media only screen and (max-width: 47em) {
  h1 {
    font-size: 5.2rem;
  }
  .project-tiles {
    grid-template-columns: 1fr;
  }

  .project-tile {
    height: 39rem;
  }

  .contact h2 {
    font-size: 5.2rem;
    letter-spacing: 1px;
  }

  .contact p {
    font-size: 1.2rem;
  }

  .fab,
  .fas {
    font-size: 2.4rem;
  }
}

/* 640px = 40em */
@media only screen and (max-width: 47em) {
}
